<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout-admin">
<head>
<title>Messages : Create</title>
</head>
<body>
	<h1 layout:fragment="header">
		User Password Form
	</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${param.success != null and param.success[0] == '1'}">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong><i class="fa fa-info-circle"></i> Success!</strong>
		</div>
		<form class="form-horizontal" action="#" th:action="@{userPassword}" th:object="${userPasswordForm}" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label" th:text="#{email}">Email</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{email}" readonly="readonly"/>
					<div class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
						<strong><i class="fa fa-exclamation-triangle"></i> Warning!</strong>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label" th:text="#{passwordOld}">Old Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" th:field="*{passwordOld}"/>
					<div class="field-error" th:if="${#fields.hasErrors('passwordOld')}" th:errors="*{passwordOld}">
						<strong><i class="fa fa-exclamation-triangle"></i> Warning!</strong>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label" th:text="#{password}">New Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" th:field="*{password}"/>
					<div class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
						<strong><i class="fa fa-exclamation-triangle"></i> Warning!</strong>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label" th:text="#{passwordConfirm}">Confirm Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" th:field="*{password2}"/>
					<div class="field-error" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">
						<strong><i class="fa fa-exclamation-triangle"></i> Warning!</strong>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button type="submit" class="btn btn-default">Change</button>
				</div>
			</div>
		</form>

	</div>
</body>
</html>