<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Messages : Create</title>
</head>
<body>
<h1 layout:fragment="header">INDEX</h1>
<div layout:fragment="content" class="container">
<a href="/login">Login Page</a>
<br/>
<a href="/registerForm">Register Page</a>
<br/>
<a href="/ex/error">Custom Error Exception Page</a>
<br/>
<a href="/ex/io-error">IO Error Exception Page</a>
</div>
</body>
</html>