<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
	  th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"
      rel="stylesheet" media="screen" />
<link th:href="@{/css/myCss.css}" rel="stylesheet" media="screen" />
<script type="text/javascript" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/myScript.js}"></script>
</head>
<body>

	<div class="container">
		<nav role="navigation" class="navbar navbar-default">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a href="/" class="navbar-brand">Brand</a>
	        </div>
	        <!-- Collection of nav links and other content for toggling -->
	        <div id="navbarCollapse" class="collapse navbar-collapse">
	            <ul class="nav navbar-nav">
	                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a th:href="@{dashboard}">Home</a></li>
	                <li th:classappend="${#httpServletRequest.getRequestURI() == '/form' or #httpServletRequest.getRequestURI() == '/uploadFile' ? 'active':''}">
	                	<a th:href="@{form}">File Upload</a>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="?lang=en">English</a></li>
							<li><a href="?lang=zh">Chinese</a></li>
						</ul>
					</li>

					
					<li><a th:href="@{/logout}">Logout</a></li>
	            </ul>
	        </div>
	    </nav>
		<h1 layout:fragment="header"></h1>
		<div layout:fragment="content"></div>
	</div>
</body>
</html>